main{
	width:80%;
	margin-left: 10%;
	margin-top: 5%;
	text-align: justify;
	display: block;
}
h2{
	font-family: 'Aclonica', sans-serif;
	color: SeaGreen;
	text-align: center;
	text-decoration: underline;
	font-size: 2em;
	font-weight: bold;
}
h3{
	font-family: 'Papyrus';
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	color: Indigo;
}

p{
	font-size: 1.1em;
	font-family: 'Handlee', cursive;
	color: indigo;
}
table{
	width: 100%;
	margin-bottom: 5%;
}

th{
	background-color: rgba(27, 219, 107, 0.849);
	color: darkblue;
	padding: 2px;
	text-align: center;
}
td{
	background-color: rgb(202, 248, 214);
	color: darkmagenta;
	padding: 2px;
	text-align: center;
}
td a{
	color: darkred;
}
td a:hover{
	background-color: rgb(50, 78, 131);
	color: white;
}
a{
	color: rgb(75, 12, 192);
}
a:hover{
	  background-color: cornsilk;
  }
  
   a:active, a:focus {
	color:#c33;
  }

form{
	display: inline;
}

.export{
	float: right;
	font-family: Rockwell;
	color: FireBrick;
}


/* ------------------------base.html--------------------------------------------------------------- */
body{
	/* background: #fdfae1; */
	margin:0;
}
header{
	margin-left: 1%;
	background: linear-gradient(to bottom, yellow, blue);
	padding: 1.5%;
}
h1{
	font-family: 'Orbitron', sans-serif; 
  text-decoration: underline;
  text-align: center;

  font-size: 2.29em;
  color: MintCream;
  

  padding: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  /* border-bottom: 2px solid dimgray; */
  /* background-color: LightSlateGrey; */



  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
}
h1:hover{
	color:crimson;
	text-shadow: 3px 3px black ;
	transition:3s;

}

.topsection:hover{
	transform:scale(102%);
	transition: 3s;
}

.logoleft{
  margin-top: -2px;
  margin-left: 80px;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  padding: 5px;
  float: left;
  box-shadow: 7px 6px 5px;
  
}


.logoright{
	margin-top: -2px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 80px;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  padding: 5px;
  float: right;
  box-shadow: -7px 6px 5px;
}

.topsection{
	display: inline-flex;
	margin-top: 20px;
	flex-shrink: 1;
}

.navbar{
	width:98%;
	height: 80%;
	border: 1px solid black;
	margin-top: 2%;
	margin-left: 1%;
	background-color: #d2f868b9;
		
}
.navbar ul{
	list-style-type: none;
	line-height: 200%;
	
}
.navbar li{
	font-size: 1.2em;	
	padding-left: -2%;
	display: inline-block;
	margin-left: 3%;
	margin-right: 3%;
	flex: 1 1 10%;
}
.navbar li:hover{
	
	transform: translateY(-0.5em) scale(110%);
	
}
#homenav{
	margin-left: 10%;
}



/*========================================================================================================*/




/* ---------------------------------------Home Page----------------------------------------------------- */
#hometext{
	width: 100%;
	display: inline-block;	
}


#topages{
	background-color:linear-gradient(#CBCA2C, #FAFAB1 );
	display: flexbox;
}
#topages h3{
	font-family: 'Righteous', cursive;
	font-size: larger;
	font-weight: bold;
}
#topages a{
	color: rgb(245, 13, 13);
	text-decoration: none;
	box-shadow: black;
}

#timeperiod{
	width: 25%;
	padding: 5px;
	margin-right: 2.5%;
	margin-left: 5%;
	text-align: center;
	border-radius: 25%;
	display: inline-block;
	background-color: rgb(153, 240, 72);
	color: rgb(17, 58, 17);

}
#timeperiod:hover{
	transform: scale(120%);
	background-color: rgb(243, 121, 8);
	transition: 2s;
}


#theme{
	width: 25%;
	height: 50%;
	padding: 5px;
	text-align: center;
	/* border: 1px inset grey; */
	border-radius: 25%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	display: inline-block;
	background-color: rgb(255, 85, 255);
}

#theme:hover{
	transform: scale(120%);
	background-color: rgb(68, 209, 127);
	transition: 2s;
}

#country{
	width: 25%;
	padding: 5px;
	text-align: center;
	margin: 5%;
	margin-left: 2.5%;
	/* border: 1px inset grey; */
	border-radius: 25%;
	display: inline-block;
	background-color: rgb(112, 241, 241);

}
#country:hover{
	transform: scale(120%);
	background-color: rgb(214, 226, 43);
	transition: 2s;
}
.allmovie{
	text-align: center;
	font-size: 1em;
	font-family: Copperplate;
	padding: 2.5%;
	margin: 5%;
	margin-left: 42%;
	display: inline-block;
	align-content: center;
	border: 0.5px dotted black;
	border-radius: 50%;
	
}
/* ========================================================================================================= */
/* ---------------------------------ABout Page-------------------------------------------------------- */
#aboutpageheading{
	text-align: center;
	margin-left: 2%;
	font-size: 2em;
	text-decoration: underline;
}

#abouttext{
	font-size: 1.15em;
	background-color: rgb(247, 243, 197);
	padding: 2px;
	
}

#members table{
	table-layout: auto;
	width: 80%;
	height: 100%;
	margin-left: 10%;
	margin-top: 2%;
}
#members th{
	padding: 0.8em;
	font-size: 1em;
	text-align: center;
	background-color: coral;
}
#members td{
	padding: 0.6em;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	background-color: rgb(248, 222, 212);
	color: crimson;
}

#email{
	background-color: aliceblue;
	color: blueviolet;
}
/* ========================================================================================================= */
/*------------------------------------- Country page------------------------------------------------- */
#map{
	fill: #00394f;
	stroke: #eee; 
	stroke-width: .25;
	margin-top: 5%;
}
map:hover{
	background-color: black;
}
svg path{
	fill: #00394f;
}

svg path:hover{
	fill: #9f8ee0;
	background-color: #c8d0e7;
	transition: 0.6s;
	cursor: pointer;
	

}
svg path.visited{
	fill: #00394f;
}

.countries{
	width: 20%;
	display: inline-block;
	margin: 2%;
	vertical-align: top;
}
.countries h3{
	text-align: center;
}

.countries li{
	font-size: 1.1em;
}

.countries a{
	color:rgb(226, 43, 67);
	text-decoration: none;
}

.countries a:hover{
	color: cadetblue;
	text-decoration: underline;
}


#nocountry li{
	font-size: 1.2em;
	
}
#nocountry a{
	color: darkgoldenrod;
}
/* ========================================================================================================= */
/* --------------------------------------TIME PERIOD PAGE------------------------------------------------- */

#themesnav h3{
	font-size: 1em;
	font-family: cursive;	
}

#na{
	width: 20%;
	border-radius: 15%;
	display: block;
	font-size: 1em;
	margin-left: 39%;
	margin-top: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #2c87f0;
}
#na:hover{
	transform: scale(105%);
	transition: 2s;
}

#pre{
	width: 10%;
	height: 20%;
	border-radius: 15%;
	display: inline-block;
	font-size: 1em;
	margin-left: 22%;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 2%;
	padding-right: 2%;
	background-color: rgb(53, 221, 53);
}
#pre:hover{
	transform: scale(105%);
	transition: 2s;
}

#proto{
	width: 10%;
	border-radius: 15%;
	display: inline-block;
	font-size: 1em;
	margin-left: 25%;
	margin-top: 3%;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 2%;
	padding-right: 2%;
	background-color: yellow;
}
#proto:hover{
	transform: scale(105%);
	transition: 2s;
}

#ancient{
	width: 10%;
	border-radius: 15%;
	display: inline-block;
	font-size: 1em;
	margin-left: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 2%;
	padding-right: 2%;
	background-color: rgb(91, 214, 214);
}
#ancient:hover{
	transform: scale(105%);
	transition: 2s;
}

#medieval{
	width: 10%;
	border-radius: 15%;
	display: inline-block;
	font-size: 1em;
	margin-left: 22%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 2%;
	padding-right: 2%;
	background-color: tomato;
}
#medieval:hover{
	transform: scale(105%);
	transition: 2s;
}

#modern{
	width: 10%;
	border-radius: 15%;
	display: inline-block;
	font-size: 1em;
	margin-left: 23%;
	margin-top: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 2%;
	padding-right: 2%;
	background-color: violet;
}
#modern:hover{
	transform: scale(105%);
	transition: 2s;
}

#transitionhead{
	width: 100%;
	border: 1px inset black;
	margin-top: 3%;
	background-color: yellowgreen;
	margin-bottom: 10%;
}
#transitionhead:hover{
	transform:  scale(105%);
	transition: 2s;
}




/* ========================================================================================================= */
/*-------------------------------------SUGGESTION PAGE-------------------------------------------*/
#suggestionform{
	display: inline-block;
	margin-left: 5%;
	margin-bottom: 5%;
	padding: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: rgb(196, 228, 230);
	
}
#suggestionform th{
	font-family:'Goudy Old Style' ;
	font-size: 19px;
	color: OldLace;
	background-color: MediumSlateBlue;
	padding: 1%;
	text-align: center;


}
#suggestionform td{
	font-family: Perpetua;
	font-size: 17px;
	background-color: Lavender;
	color: Navy;
	padding: 1%;
}
.submit{
	margin-left: 220px;
}
/*===========================================================================================================*/
/*--------------------------------------------All Themes page-------------------------------------------*/
.alltheme li{
	display: inline-block;
	text-align: center;
	margin: 1%;
	font-size: 1.2em;
}
.alltheme li:hover{
	transform: scale(110%);
	background-color: turquoise;
	color: rgb(219, 36, 36);
}
/*=======================================================================================================*/

/*---------------------------------- Movie Info Page ---------------------------------------------*/

#movietitle{
	text-align: center;
	padding: 2%;
	background-color: rgb(123, 107, 192);
	color: wheat;
	border-radius: 25%;
	border: 1px dotted whitesmoke
}
#movieinfo{
	width: 60%;
	display: inline-block;
	margin-left: 4%;
	margin-top: 10%;
	
}
#movieinfo table{
	width: 80%;
}
#movieinfo th{
	padding: 2%;
	background-color: rgb(178, 199, 245);
}
#movieinfo td{
	font-weight: bold;
	background-color: rgb(225, 234, 252);
}


#poster{
	margin-top: 11%;
	margin-right: 5%;
	width: 200px;
	height: 300px;
	margin-left: 6%;
	margin-right: 0%;
	display: inline-block;
	border: 1px solid black;
	border-radius: 10%;
	vertical-align: top;
	
}
#poster img{
	width: 200px;
	height: 300px;
}
#poster p{
	margin-top: 10%;
	margin: 2%;
}
#poster:hover{
	transform: scale(120%);
	transition: 1s;
}
#movietext{
	margin-top: 5%;
	
}
#movietext p{
	margin: 3%;
}
#remarks{
	width: 45%;
	display: inline-block;
	background-color: rgb(235, 159, 159);
	border-radius: 10%;
	margin-right: 2%;
	vertical-align: top;
}
#accuracy{
	width: 45%;
	display: inline-block;
	background-color: rgba(161, 219, 214, 0.815);
	vertical-align: top;
	border-radius: 10%;
	margin-left: 2%;
}
/*================================================================================================*/

@media screen and (max-width: 1162px) {
	
	#homenav{
		margin-left: 5%;
	}

}
@media screen and (max-width: 1065px) {
	#homenav{
		margin-left: 0%;
	}
	
}










