


.alltheme{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 70px 80px;
    width: 90%;
    margin: auto;
    margin-top: 80px;
}

.theme{
    width: 100%;
    height: 100px;
    padding: 20px;
    justify-content: center;
    align-content: center;    
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 20px;    
    box-sizing: border-box;  
    
}


.theme:hover{
    background-color: #0093E9;
    background-image: linear-gradient(340deg, #0093E9 0%, #80D0C7 100%);   
}
.theme>a>h2{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    align-items: center;
}
a{
    text-decoration: none;
}

