header{
    background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
nav{
    background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
footer{
    /* margin-top: 50px; */
    background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    position: fixed;
    bottom: 0px;
}

div{
    font-family: 'Merienda', cursive;
}

.alltheme{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 70px 80px;
    width: 90%;
    margin: auto;
    margin-top: 80px;
}

.theme{
    width: 100%;
    height: 100px;
    padding: 10px;
    justify-content: center;
    align-items: center;    
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 20px;    
    box-sizing: border-box;  
    
}
.theme h2{
    text-decoration: none;
    color: white;
    text-align: center;
}

.theme:hover{
    background-color: #0093E9;
    background-image: linear-gradient(340deg, #0093E9 0%, #80D0C7 100%);   
}
.theme>a>h2{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    align-items: center;
}
a{
    text-decoration: none;
}



@media screen and (max-width:1200px){
    .alltheme{
        grid-template-columns: repeat(3,1fr);
    }
    .theme>h2{
        font-size: 20px;
    }	
}
@media screen and (max-width: 480px){
    .alltheme{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 50px 30px;
    }

    .theme>h2{
        font-size: 18px;
    }
    
}
