/* svg:hover{
    color:red;
} */
header{
	background-color: transparent;
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
nav{
	background-color: transparent;
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
#map{
	fill: #00394f;
	stroke: #eee;
	stroke-width: .25;
	margin-top: 5%;
}
map:hover{
	background-color: black;
}
svg path{
	fill: #00394f;
}

svg path:hover{
	fill: #9f8ee0;
	background-color: #c8d0e7;
	transition: 400ms;
	cursor: pointer;


}
svg path.visited{
	fill: #00394f;
}

#countrieslist>ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    list-style: none;
	margin: 50px;
	
	padding: 30px;
}
#nocountry{
    margin: 40px;
    text-align: center;

}
