*{
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;    
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */


}
body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
header>h1{
    text-align: center;
    color: white;
    font-size: 3em;
    text-decoration: underline;
    
}
p{
    font-size: 1.2em;
    padding: 20px;
    text-align: justify;
    color: white;
}
/* section:nth-child(1){
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
} */
section{
    /* border: 2px solid red; */
    height: auto;
    padding: 30px;
    width: 98%;

}
#Squares4{
    width: 90%;
    justify-content: space-between;
    margin: auto;
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
    /* grid-template-columns: repeat(2,1fr); */
    grid-gap: 30px;
    justify-content: space-between;
    padding: 30px;
    
    
}
.sq4{
    width: 300px;
    height: 300px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: antiquewhite;
    padding: 20px;
    text-align: center;
    border-radius: 20px;

}
#allmovies{
    width: 90%;
    height: 150px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: antiquewhite;
    padding: 10px;
    text-align: center;
    border-radius: 15px;

}
#recent{
    width: 90%;
    height: 200px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    margin: auto;
    margin-top: 20px;

}
#workingon{
    width: 90%;
    height: 200px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    margin: auto;
    margin-top: 20px;

}
