header{
    background-color: transparent;
	background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}
nav{
    background-color: transparent;
	background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}
/* body{
    width: 100%;
    box-sizing: border-box;
}
main{
    width: 90%;
    box-sizing: border-box;
} */


.movies{
    width: 98%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: top;
    box-sizing: border-box;
    vertical-align: top;
    
}
.movies img{
    width: 100%;
}
main{
    margin-top: 40px;
}
.movie{
    width: 75%;
    margin: auto;
    height: 430px;
    
}
.details{
    display: none;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}
.movie:hover .poster{
    display: none;
}
.movie:hover .details{
    display: block;
}

table{
    width: 300px;
    height: 100%;
    margin: auto;
    
    border-radius: 20px;
    padding: 20px;
}
#posterrow, #titlerow{
    text-align: center;
}
#titlerow{
    font-size: 22px;
}
tr>td:nth-child(1){
    width: fit-content
}
tr>td:nth-child(2){
    text-align: left;
}
th,td{
    /* border: 1px solid black; */
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
    color: black;
    border-radius: 20px;
}
a{
    color: antiquewhite;
}