header{
    background-color: transparent;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
nav{
    background-color: transparent;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
footer{
    background-color: transparent;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
main{
    width: 100%;
}
main>div:nth-child(1){
    display: grid;
    grid-template-columns: 60% 40%;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 20px;
}
main>div:nth-child(1)>section:nth-child(1){
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    
}
p{
    margin: 20px;
}
#movietext{
    width: 90%;
    margin: auto;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* #movietext>iframe{
    margin: 20px;
    margin-left: 25%
    
} */
td,th{
    border: 1px solid black;
    text-align: center;
    padding: 30px;
    
}
img{
    width: 400px;
}
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}