{% extends 'base.html'%}
{% block stylesheet %} <link rel="stylesheet" type="text/css" href="/static/css/otherResources/otherResources.css">{%endblock%}

{% block pagetitle %} Other Resources {% endblock %}
{% block pageheading %} Other Resources {% endblock %}

{%block content %}

<main>
    <section class="module" id="googleearth">
        <div class="img">
            <a href="https://earth.google.com/web/@1.5327247,103.7222159,19.91262995a,70092d,35y,358h,20.99999944t,0r/data=CgQSAggB">
                <img src="https://3dwarehouse.sketchup.com/warehouse/v1.0/publiccontent/dc4fbd86-a0a6-47ce-a4c9-7c213eee471f" alt="googleEarth">
            </a>
            
        </div>
        <div>
            <h3>Google Earth Modules</h3>
        </div>
    </section>
    <section class="module" id="readingsonhistory">
        <div class="img">
            <a href="https://sites.google.com/view/readings-on-history/home">
                <img src="https://lh5.googleusercontent.com/Pco9rKDJwJ14d7dkZFtzVmMeSC93zWmvSV4V-me0Mm29ANYBYgjXQD8_F4Q2jjKRuiwTnwx7xYiqZFNARZaZGgBCwzT2cd6wdhiE5Cs7h-q4FKNC=w1280" alt=""/>
            </a>
        </div>
        <div>
            <h3>Readings on History</h3>
            <!-- <p>https://sites.google.com/view/readings-on-history/home</p> -->
        </div>
    </section>
</main>

{%endblock%}