{% extends 'base.html' %}

{% block content %}
<main>

	<h2 id="aboutpageheading">About</h2>
	<section id="abouttext">
		<p>
			This is a project that has risen from our interest into the field of History and with the notion that
			hisotry could be studied in more than one way. In our quest to explore these the popular medium of cinema
			was explored and this is a culmination of that exploration. Being students of history and having a good
			understanding of its craft, we have tried to stay true to its principles and to the discipline. This shall
			be reflected in the descriptions of the movies that we provide as well as explain the historical accuracy of
			the portrayal in the medium. This will be a continous and evolving project that we plan shall grow in the
			years to come.
		</p>
	</section>
	<div id="members">
		<table>
			<tr>
				<th colspan="3">
					MEMBERS OF THE PROJECT
				</th>
			</tr>
			<tr>
				<th>PROJECT LEADER</th>
				<th>MEMBERS</th>
				<th>WEBSITE BY</th>
			</tr>
			<tr>
				<td rowspan="4">Krishn Kumar Upadhyaya</td>
				<td>Somok Roy</td>
				<td rowspan="4">Sreerag Rajan</td>
			</tr>
			<tr>
				<td>Sri Harsha Sai Matta</td>

			</tr>
			<tr>
				<td>Sreerag Rajan</td>
			</tr>
			<tr>
				<td>Pooja Thakur (Advisor)</td>
			</tr>
			<tr>
				<th colspan="3">EMAIL: <span id="email">historythroughmovies@hotmail.com</span></td>
			</tr>

		</table>
	</div>
	<p style="text-align: center;">Contact us at the above mentioned email id regarding any aspect of this project.</p>


</main>
{% endblock %}