{% extends 'base.html' %}
{%block stylesheet%} <link rel="stylesheet" href="/static/css/about.css"> {%endblock%}
{%block pagetitle%}HTC-About Us{%endblock%}
{%block pageheading%}About Us{%endblock%}
{% block content %}
<main>
	<section id="abouttext">
		
		<p>
			We are a group of volunteers who wish to explore the vast horizons of history through more than just the medium of books. For this we chose to pursue the road of the Cinema and see how the visual medium can help us in our understanding of the past. 
		</p>
		<p> History can be fascinating to many people, while boring to others. It is usually associated with long books,
			often reminding us of school textbooks, filled with facts and dates, and this acts as a detterent. Yet there
			are other ways to learning and knowing about the past. The visual medium is one of the most powerful tools
			for this task. Visual medium for history does not mean documentaries alone. They are good for the purpose,
			but even normal movies can give a glimpse of the past through their portrayal of historical events,
			socieites, classes etc. Even a work of fiction set in a particular time period can give the social attitude
			of the people at the time, and this can prove valuable. Now we understand that this is a slippery slope. By
			this logic even Marvel's Captain America: The First Avenger can have historical essence. Its a movie that is
			set during the World War II and portrays the conflict between the allied and the axis powers as well as the
			cut throat competition to outmatch each others weapons and technological might, in the hopes to crush the
			enemy completely. However, that is not the sort of movies we had in mind for the list here as we prefer
			those a bit more grounded in reality. Thus, be warned, there is subjectivity at play in the selection of the
			movies. 
		</p>
		
	</section>
</main>
{% endblock %}