{% extends 'base.html' %}

{% block content %}
<main>

	<h2 id="aboutpageheading">About</h2>
	<section id="abouttext">
		<p>
			This is a project that has risen from our interest into the field of History and with the notion that
			history could be studied in more than one way. In our quest to explore these, the popular medium of cinema
			was explored and this is a culmination of that exploration. Being students of history and having a good
			understanding of its craft, we have tried to stay true to its principles and to the discipline. This shall
			be reflected in the descriptions of the movies that we provide as well as explain the historical accuracy of
			the portrayal in the medium. This will be a continous and evolving project that we plan shall grow in the
			years to come.
		</p>
	</section>
		
	<p style="text-align: center;">Contact us at historythroughmovies@hotmail.com.</p>


</main>
{% endblock %}