{% extends 'base.html' %}

{% block stylesheet %} <link rel="stylesheet" type="text/css" href="/static/css/allmovies.css">{%endblock%}

{% block pagetitle %} 

	ALL CINEMA

{% endblock %}
{% block pageheading %} 

	ALL CINEMA

{% endblock %}

{% block content %}
<main>
	
	<!-- <span class="export">
		<form action="/export">
			<label>Export as .csv File</label>
			<input type='submit' value="Export">
		</form>
	</span> -->

	<!-- <section>
		<select name="sort" id="sort">
			<option value="title">--Sort By--</option>
			<option value="title">Title</option>
			<option value="year">Year</option>
			<option value="director">Director</option>
			<option value="language">Language</option>
			<option value="category">Category</option>
			<option value="length">Length</option>
			<option value="country">Country</option>			
		</select>
	</section> -->
	<section>
		<button id="filterdivopener">
			Filter
		</button>
		{%include "_sort.html" %}
	</section>
	<section id="filter">
			<div id="catfil">
				<div>
					<p>Categories:</p>
				</div>
				<div>
					<input class="category" type="checkbox" name="all" value="all" id="allcat">
					<label for="All">All</label>
				</div>
				{% for cat in categories %}
				<div>
					<input class="category" type="checkbox" name="{{cat.category}}" value="{{cat.category}}" id="{{cat.category}}">
					<label for="{{cat.category}}">{{cat.category}}</label>
				</div>
				
				{%endfor%}
			</div>
			<div id="languagefil">
				<div>
					<p>Languages:</p>
				</div>
				<div>
					<input class="language" type="checkbox" name="all" value="all" id="allcat">
					<label for="All">All</label>
				</div>
				{% for language in languages %}
				<div>
					<input class="language" type="checkbox" name="{{language.language}}" value="{{language.language}}"id="{{language.language}}">
					<label for="{{language.language}}">{{language.language}}</label>
				</div>
				
				{%endfor%}
			</div>
			<div>
				<button id="filterbtn">Filter</button>
			</div>
					
	</section>
	<section class="table">
	<table>
		<tr>
			<th> </th>
			<th> Title </th>
			<th> Year </th>
			<th> Director </th>
			<th> Language </th>
			<th> Themes </th>
			<th> Category </th>
			<th> Length </th>
			<th>Seasons</th>
			<th>Episodes</th>
			<th> Country </th>
		</tr>
	
		{% for movie in all_movies %}
		
		<tr> 
			<td><img src="{{movie.poster.url}}" alt="film Poster"></td>	
			<td><a href="/movie-{{movie.slug}}">{{movie.title}}</a></td>
			<td>{{movie.year}}</td>
			<td>{{movie.director.all|join:", "}}</td>
			<td>{{movie.language.all|join:", "}}</td>
			<td>{{movie.themes.all|join:", "}}</td>
			<td>{{movie.category.all|join:", "}}</td>
			<td>{% if movie.length%} {{movie.length}} {% endif %}</td>
			<td>{% if movie.seasons%}{{movie.seasons}} {% endif %}</td>
			<td>{% if movie.episodes%}{{movie.episodes}}{% endif %}</td>		
			<td>{{movie.country.all|join:", "}}</td>
		</tr>
		{% endfor %}
	</table>
		
	</section>
	<div class="pagination">
		<span class="step-links">
			{% if all_movies.has_previous %}
				<a href="?page=1">&laquo; first</a>
				<a href="?page={{ all_movies.previous_page_number }}">previous</a>
			{% endif %}
	
			<!-- <span class="current">
				Page {{ all_movies.number }} of {{ all_movies.paginator.num_pages }}.
			</span> -->
			{% for i in all_movies.paginator.page_range %}
			{% if all_movies.number == i %}
			  <button class="active"><span>{{ i }} <!---<span class="sr-only">(current)</span>----></span></button>
			{% else %}
			  <button><a href="?page={{ i }}">{{ i }}</a></button>
			{% endif %}
		  {% endfor %}
	
			{% if all_movies.has_next %}
				<a href="?page={{ all_movies.next_page_number }}">next</a>
				<a href="?page={{ all_movies.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
</main>
<script src="/static/js/allmovies.js"></script>
{% endblock %}