{% extends 'base.html' %}

{% block stylesheet %} <link rel="stylesheet" type="text/css" href="/static/css/allmovies.css">{%endblock%}

{% block pagetitle %} 

	ALL CINEMA

{% endblock %}
{% block pageheading %} 

	ALL CINEMA

{% endblock %}

{% block content %}
<main>
	
	<!-- <span class="export">
		<form action="/export">
			<label>Export as .csv File</label>
			<input type='submit' value="Export">
		</form>
	</span> -->

	<section>
		<select name="sort" id="sort">
			<option value="title">--Sort By--</option>
			<option value="title">Title</option>
			<option value="year">Year</option>
			<option value="director">Director</option>
			<option value="language">Language</option>
			<option value="category">Category</option>
			<option value="length">Length</option>
			<option value="country">Country</option>			
		</select>
	</section>
	<section class="table">
	<table>
		<tr>
			<th> </th>
			<th> Title </th>
			<th> Year </th>
			<th> Director </th>
			<th> Language </th>
			<th> Themes </th>
			<th> Category </th>
			<th> Length </th>
			<th>Seasons</th>
			<th>Episodes</th>
			<th> Country </th>
		</tr>
	
		{% for movie in all_movies %}
		
		<tr> 
			<td><img src="{{movie.poster.url}}" alt="film Poster"></td>	
			<td><a href="/movie-{{movie.slug}}">{{movie.title}}</a></td>
			<td>{{movie.year}}</td>
			<td>{{movie.director.all|join:", "}}</td>
			<td>{{movie.language.all|join:", "}}</td>
			<td>{{movie.themes.all|join:", "}}</td>
			<td>{{movie.category.all|join:", "}}</td>
			<td>{% if movie.length%} {{movie.length}} {% endif %}</td>
			<td>{% if movie.seasons%}{{movie.seasons}} {% endif %}</td>
			<td>{% if movie.episodes%}{{movie.episodes}}{% endif %}</td>		
			<td>{{movie.country.all|join:", "}}</td>
		</tr>
		{% endfor %}
	</table>
		
	</section>
</main>
<script src="/static/js/allmovies.js"></script>
{% endblock %}