<!DOCTYPE html>
<html>

<head>

	{% block stylesheet %} {% endblock %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Aclonica&family=Handlee&family=Orbitron:wght@900&family=Righteous&display=swap"
		rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap" rel="stylesheet">

	<meta charset="utf-8">
	<title> History Through Movies</title>
</head>

<body>
	{% block header %} {% endblock %}

	<nav class='navbar'>

		<span class='navbar' id="homenav">
			<a href=" /">Home</a>
		</span>
		<span class='navbar'>
			<a href="/themes/">Themes</a>
		</span>
		<span class='navbar'>
			<a href="/countries/">Countries</a>
		</span>

		<span class='navbar'>
			<a href=" /">Special Modules</a>
		</span>
		<span class='navbar'>
			<a href=" /">Other Resources</a>
		</span>
		<span class='navbar' id="aboutnav">
			<a href="/allmovies">See all Movies</a>
	</nav>





	{% block content %} {% endblock %}



</body>

</html>