<!DOCTYPE html>
<html>

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Righteous&family=Sansita+Swashed&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/style.css">
	{% block stylesheet %} {% endblock %}
	{%block googlefonts %} {%endblock%}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block pagetitle %} {% endblock %}</title>
</head>

<body>
	<header>
		<h1>{% block pageheading %} {% endblock %}</h1>
	</header>
	

	<nav class='navbar'>

		<div class='navbar' id="homenav">
			<a href=" /">Home</a>
		</div>
		<div class='navbar'>
			<a href="/themes/">Themes</a>
		</div>
		<div class='navbar'>
			<a href="/countries/">Countries</a>
		</div>

		<div class='navbar'>
			<a href=" /special-modules">Special Modules</a>
		</div>
		<div class='navbar'>
			<a href=" /other-resources">Other Resources</a>
		</div>
		<div class='navbar' id="aboutnav">
			<a href="/allmovies">See all</a>
	</nav>

	{% block content %} {% endblock %}


	<footer>
		<div>
			<a href="/about">About Us</a>
		</div>
		<div>
			<a href="/contact-us"> Contact Us </a>
		</div>
		<div>
			<a href="/suggestion">Suggest Us Movies!</a>
			
		</div>
	</footer>
</body>

</html>