<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/static/css/style.css">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Aclonica&family=Handlee&family=Orbitron:wght@900&family=Righteous&display=swap"
		rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap" rel="stylesheet">
	{% block stylesheet %} {% endblock %}

	<meta charset="utf-8">
	<title>{% block pagetitle %} {% endblock %}</title>
</head>

<body>
	<header>
		<h1>{% block pageheading %} {% endblock %}</h1>
	</header>
	

	<nav class='navbar'>

		<div class='navbar' id="homenav">
			<a href=" /">Home</a>
		</div>
		<div class='navbar'>
			<a href="/themes/">Themes</a>
		</div>
		<div class='navbar'>
			<a href="/countries/">Countries</a>
		</div>

		<div class='navbar'>
			<a href=" /special-modules">Special Modules</a>
		</div>
		<div class='navbar'>
			<a href=" /other-resources">Other Resources</a>
		</div>
		<div class='navbar' id="aboutnav">
			<a href="/allmovies">See all</a>
	</nav>

	{% block content %} {% endblock %}



</body>

</html>