{% extends 'base.html' %}
{%block stylesheet%} <link rel="stylesheet" href="/static/css/eachtheme.css"> {%endblock%}
{%block pagetitle%}{{ eachtheme|capfirst }}{%endblock%}
{%block pageheading%}{{ eachtheme.theme.upper }}{%endblock%}
{% block content %}
<main>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<section>

		<p> {{ eachtheme.description }}</p>
	</section>
	<!-- <section>
		{%include "_sort.html" %}
	</section> -->	
	
	<section id="sc2">
		{% for movie in Movies %}
		<div class='movie'>
			<div class="img">
				<a href="/movie-{{movie.movie.slug}}">
					<img src="{{movie.movie.poster.url}}" alt="film Poster"/>
				</a>
			</div>
			<div class="title">
				<h3>{{movie.movie}}</h3>
			</div>
			<div class="desc">{{movie.text|safe}}</div>	
		</div>
		{% endfor %}

	</section>
</main>
{% endblock %}