{% extends 'base.html' %}

{% block content %}
<main>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<section>
		<h2> {{ eachtheme.theme.upper }}</h2>

		<p> {{ eachtheme.description }}</p>
	</section>
	
	<section class= 'table'>
		{% for movie in Movies %}
		<table class='table'>
		<tr> <td><img src="{{movie.movie.poster}}" alt="film Poster"></td></tr>	
		<tr><td><a href="/movie-{{movie.movie.slug}}">{{movie.movie}}</a></td></tr>
		<tr><td>{{movie.text|safe}}</td></tr>
		</table>
		{% endfor %}
	</section>
</main>
{% endblock %}