<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>HISTORY THROUGH CINEMA</h1>
    </header>
    <main>
        <section id="hometext">
            <p> History can be fascinating to many people, while boring to others. It is usually associated with long books,
                often reminding us of school textbooks, filled with facts and dates, and this acts as a detterent. Yet there
                are other ways to learning and knowing about the past. The visual medium is one of the most powerful tools
                for this task. Visual medium for history does not mean documentaries alone. They are good for the purpose,
                but even normal movies can give a glimpse of the past through their portrayal of historical events,
                socieites, classes etc. Even a work of fiction set in a particular time period can give the social attitude
                of the people at the time, and this can prove valuable. Now we understand that this is a slippery slope. By
                this logic even Marvel's Captain America: The First Avenger can have historical essence. Its a movie that is
                set during the World War II and portrays the conflict between the allied and the axis powers as well as the
                cut throat competition to outmatch each others weapons and technological might, in the hopes to crush the
                enemy completely. However, that is not the sort of movies we had in mind for the list here as we prefer
                those a bit more grounded in reality. Thus, be warned, there is subjectivity at play in the selection of the
                movies. </p>
    
            <p> Finding a single all encompassing classification has been difficult. History being so complex cannot be
                easily reduced to one form. If we are to divide based on country, then there are movies that go beyond a
                country or even exist outside the notion of the modern nation state. Like pre-historic movies cannot be
                categorised under a single country and be justified as they cater to something much larger. Political
                boundaries or the idea of a nation state did not even exist back then. So we have decided to break it into
                primarily three classification, in the hope that at least one of them could do the movie justice</p>
    
        </section>
    
    </main>
</body>
</html>


