{% extends 'base.html' %}

{% block content %}
<main>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<section>
		<h2> {{ Country.upper }}</h2>
	</section>
	
	<section class="table">
		{% for movie in movies_country %}
		<table>
		<tr> <td><img src="{{movie.poster.url}}" alt="film Poster"></td></tr>	
		<tr><td><a href="/movie-{{movie.slug}}">{{movie.title}}</a></td></tr>
		<tr>	<td>{{movie.year}}</td></tr>
		<tr>	<td>{{movie.director.all|join:", "}}</td></tr>
		<tr>	<td>{{movie.language.all|join:", "}}</td><tr>
		<tr>	<td>{{movie.theme.all|join:", "}}</td></tr>
		<tr>	<td>{{movie.category.all|join:", "}}</td></tr>
		<tr>	<td>{{movie.lenght}}</td></tr>
		<tr>	<td>{{movie.time_period.all|join:", "}}</td></tr>
		<tr>	<td>{{movie.country.all|join:", "}}</td></tr>
		</table>
		{% endfor %}
	</section>

</main>
{% endblock %}