{% extends 'base.html' %}

{% block content%}
<main id="moviepage">
    <h2 id="movietitle">{{Movie.title}}</h2>

    <section id="movieinfo">

        <table>
            <tr>
                <th>YEAR OF RELEASE</th>
                <td>{{Movie.year}}</td>
            </tr>
            <tr>
                <th>DIRECTOR</th>
                <td>{{Movie.director.all|join:", "}}</td>
            </tr>
            <tr>
                <th>LANGUAGE</th>
                <td>{{Movie.language.all|join:", "}}</td>
            </tr>
            <tr>
                <th>THEMES</th>
                <td>{{Movie.theme.all|join:", "}}</td>
            </tr>
            <tr>
                <th>CATEGORY</th>
                <td>{{Movie.category.all|join:", "}}</td>
            </tr>
            <tr>
                <th>LENGTH</th>
                <td>{{Movie.lenght}}</td>
            </tr>
            <tr>
                <th>TIME PERIOD</th>
                <td>{{Movie.time_period.all|join:", "}}</td>
            </tr>
            <tr>
                <th>COUNTRY(S)</th>
                <td>{{Movie.country.all|join:", "}}</td>
            </tr>
        </table>
    </section>
    <section id="poster">
        <img src="{{Movie.poster.url}}" alt="film Poster">
    </section>

    <section id="movietext">
        <p>{{Movie.para1}}</p>
        <p>{{Movie.para2}}</p>
        <p>{{Movie.para3}}</p>
        <p>{{Movie.para4}}</p>
        <p>{{Movie.para5}}</p>

    </section>
</main>
{% endblock %}