{% extends 'base.html' %}
{%block stylesheet%} <link rel="stylesheet" href="/static/css/suggestion.css"> {%endblock%}
{%block pagetitle%}HTC-Suggest Us Movies!{%endblock%}

{%block pageheading%}Suggest Us Movies{%endblock%}

{% block content %}
<main>
  <section id="text">
    <p>This page is to get suggestions from you regarding the movies that should be in the list. We are amatuars, albiet
      enthusiastic ones, who seek to create a list of movies that give a glimpse of history. If you know of movies that
      are missing and feel should be included, then please fill the form below.</p>
  
    <p id="red">*Only Title is mandatory. Filling the other fields is recommended especially the year as there are movies with same
      name released in different years.</p>
  </section>
  
  <section id="suggestionform">
    <form method='POST'> {% csrf_token %}
      <table>
        <tr>
          <th>Title:</th>
          <td>{{form.title}}</td>
        </tr>
        <tr>
          <th>Year:</th>
          <td>{{form.year}}</td>
        </tr>
        <tr>
          <th>Director:</th>
          <td>{{form.director}}</td>
        </tr>
        <tr>
          <th>Theme:</th>
          <td>{{form.theme}}</td>
        </tr>
        <tr>
          <th>Category:</th>
          <td>{{form.category}}</td>
        </tr>
        <tr>
          <th>Country:</th>
          <td>{{form.country}}</td>
        </tr>
        <tr>
          <td colspan="2">
            <input type='submit' value='Submit' />
          </td>
        </tr>
      </table>
      <span class="submit">
        
      </span>
    </form>
  </section>
</main>

{% endblock %}